<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Holy Bible ✝️</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header role="banner" class="page-header">
            <h1>Holy Bible ✝️</h1>

            {% for message in get_flashed_messages() %}
                <div class="flash">
                    {{ message }}
                </div>
            {% endfor %}
        </header>

        <main role="main">
        {% block main %}{% endblock %}
        </main>
    </body>
</html>
