{% extends "base.html" %}

{% block main %}
    <form method="post" class="search-form">
        <input
            type="search"
            id="reference"
            name="reference"
            placeholder="Enter Bible reference"
            required
            value="{{ reference if reference else '' }}"
        />
        <button type="submit">
            Search
        </button>
    </form>

    <section class="passage">
        {% if full_reference %}
        <h2>{{ full_reference }}</h2>
        {% endif %}

        {% if verses %}
        {% for verse in verses %}
            <p>{{ verse["verse"] }} {{ verse["text"] }}</p>
        {% endfor %}
        {% endif %}
    </section>
{% endblock %}