*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background: ghostwhite;
    color: #1f1f1f;
    font: 100%/1.4 "IBM Plex Serif", serif;
    font-size: 1.125rem;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 5rem;
}

.page-header {
    text-align: center;
    padding: 2rem 0;
}

.flash {
    background-color: firebrick;
    color: white;
}

.search-form {
    text-align: center;
    margin-top: 1rem;
}

.passage {
    margin-top: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}